<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="mvc.vo.SearchVO" alias="searchvo"/>
		<typeAlias type="mvc.vo.Loan_productVO" alias="lpvo"/>
		
		
		<typeAlias type="mvc.vo.EmployeeVO" alias="empvo"/>
		<typeAlias type="mvc.vo.QualificationVO" alias="quavo"/>
  		<typeAlias type="mvc.vo.SavingVO" alias="savvo"/>
  		<typeAlias type="mvc.vo.Shared_SavingVO" alias="shasvo"/>
  		<typeAlias type="mvc.vo.Installment_SavingVO" alias="insvo"/>
  		<typeAlias type="mvc.vo.Shared_ChallengeVO" alias="shacvo"/>
	</typeAliases>
</configuration>