<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="account">
	  <select id="qua_list" resultType="quavo">
<!-- 		select qua_code qua_code, qua_name qua_name, nvl(qua_maxage,-1) qua_maxage, nvl(qua_minage,-1) qua_minage -->
<!-- 		, nvl(qua_minmoney,-1) qua_minmoney, nvl(qua_maxmoney,-1) qua_maxmoney, nvl(qua_minperiod,-1) qua_minperiod -->
<!-- 		, nvl(qua_maxperiod,-1) qua_maxperiod from qualification -->
		select qua_code,qua_name,qua_maxage,qua_minage,qua_minmoney,qua_maxmoney,qua_minperiod,qua_maxperiod from qualification
	  </select>
	  <insert id="qua_insert" parameterType="quavo">
	  insert into qualification values(qualification_seq.nextVal,#{qua_name},#{qua_maxage},#{qua_minage},#{qua_minmoney},#{qua_maxmoney},#{qua_minperiod},#{qua_maxperiod})
	  </insert>
	  <delete id="qua_delete" parameterType="quavo">
	  delete from qualification where qua_code=#{qua_code}
	  </delete>
	  
	  
	  <select id="sav_list" resultType="savvo">
	  select sav_code sav_code, sav_name sav_name, sav_interestrate sav_interestrate, sav_online sav_online,shas_code shas_code,qua_code qua_code from saving order by 1 desc
	  </select>
	  <insert id="sav_insert" parameterType="savvo">
	   insert into Saving values(SAVING_SEQ.nextval,#{sav_name},#{sav_interestrate},#{sav_online}
	   <choose>
	   	<when test="shas_code=='-1'">
	   	,null
	   	</when>
	   	<otherwise>
	   	,#{shas_code}
	   	</otherwise>
	   </choose>
	   ,#{qua_code})
	  </insert>
	  <delete id="sav_delete" parameterType="savvo">
	  delete from saving where sav_code=#{sav_code}
	  </delete>
	  
	  
	  
	  
	  <select id="shas_list" resultType="shasvo">
	  select shas_code shas_code,shas_count shas_count,shas_master shas_master from shared_saving order by 1 desc
	  </select>
	  
	  <select id="shas_insert" parameterType="shasvo">
	  insert into shared_saving values(SHARED_SAVING_SEQ.nextval,#{shas_count},#{shas_master})
	  </select>
	  <delete id="shas_delete" parameterType="shasvo">
	  delete from shared_saving where shas_code=#{shas_code}
	  </delete>
	  
	  
	  
	  <select id="shac_list" resultType="shacvo">
	  select shac_code shac_code,shac_mannum shac_mannum,shac_master shac_master from shared_challenge
	  </select>
	  <insert id="shac_insert" parameterType="shacvo">
	  insert into shared_challenge values(shac_seq.nextVal,#{shac_mannum},#{shac_master})
	  </insert>
	  <delete id="shac_delete" parameterType="shacvo">
	  delete from shared_challenge where shac_code=#{shac_code}
	  </delete>
	  
	  
	  
	  
	  
	  
	  <select id="ins_list" resultType="insvo">
	  select ins_code ins_code,ins_name ins_name,ins_online ins_online,ins_interestrate ins_interestrate
	  ,ins_droprate ins_droprate,ins_putmoney ins_putmoney,ins_term,shac_code ins_term,shac_code shac_code
	  ,qua_code qua_code from installment_saving
	  </select>
	  
	  <insert id="ins_insert" parameterType="insvo">
	   insert into installment_saving values(INS_SEQ.nextval,#{ins_name},#{ins_online},#{ins_interestrate}
	   ,#{ins_droprate},#{ins_putmoney},#{ins_term}
	   <choose>
	   <when test="shac_code=='-1'">
	   ,null
	   </when>
	   <otherwise>
	   ,#{shac_code}
	   </otherwise>
	   </choose>
	   ,#{qua_code})
	  </insert>
	  <delete id="ins_delete" parameterType="insvo">
	  delete from installment_saving where ins_code=#{ins_code}
	  </delete>
	  
  </mapper>